
 <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <span style=" font-family: SourceSansPro;">My</span>
                        <h2 style="font-family: Lora;">Wishlist</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
<table class="table" style="width: 85%; margin-left:5rem;font-family: 'Times New Roman', Times, serif;" >
  <thead>
    <tr>
   
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Option</th>
       <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody >
    {{#each products}}
    <tr>
      
      <td><img style=" height:100px" src="/images/{{product.image}}"></td>
      <td>{{product.price}}</td>
      <td > <div class="add-to-cart-btn">
        <button style="background-color: #0315ff;color: aliceblue;" onclick="addtoCart('{{product._id}}')" class="btn essence-btn">Add to Cart</button>
    </div></td>
      <td>
        <div class="add-to-cart-btn">
        <button style="background-color: #e49013e1;color: aliceblue;" onclick="removeFromWishlist('{{product._id}}','{{this._id}}')" class="btn essence-btn">Remove</button>
    </div>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<style>
    .table td, .table th {
    padding: 1.75rem;
    vertical-align: text-top;
    border-top: 1px solid #dee2e6;
}
</style>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>